<?xml version="1.0" encoding="UTF-8"?>
<resources>
    <string name="Language">Spanish</string>
    <string name="LanguageLabel">Idioma:</string>
    <string name="CombatLabel">Combate</string>
    <string name="AudioLabel">Audio</string>
    <string name="OtherLabel">Otros</string>
    <string name="SavedGameLabel">Juego guardado</string>
    <string name="MenuNewGame">Nuevo juego</string>
    <string name="MenuContinueGame">Reanudar juego</string>
    <string name="MenuCombat">Combate rápido</string>
    <string name="MenuSettings">Ajustes</string>
    <string name="Settings">Ajustes</string>
    <string name="DeleteSavedGameText">Si quieres borrar la partida guardada, pulsa este botón.</string>
    <string name="DeleteConfirmationText">¿Quieres borrar la partida guardada? (Sus compras se guardarán)</string>
    <string name="RefreshGames">Actualizar</string>
    <string name="Configure">Configurar</string>
    <string name="PowerSavingMode">Modo de ahorro de energía</string>
    <string name="RunInBackground">Ejecutar el juego en segundo plano</string>
    <string name="QuickTravel">Animación de viaje rápido</string>
    <string name="CenterOnPlayer">Centrar en el jugador</string>
    <string name="CameraZoom">Zoom</string>
    <string name="ShowDamageNumbers">Mostrar números de daños</string>
    <string name="ShowEnemyTransmissions">Mostrar transmisiones enemigas</string>
    <string name="NotSignedIn">No ha ingresado</string>
    <string name="LastSaveTime">Modificado:</string>
    <string name="CreateNewSavedGame">Crear nueva partida guardada</string>
    <string name="SavedGameName">Nombre:</string>
    <string name="LoadGame">Cargar</string>
    <string name="SaveGame">Guardar</string>
    <string name="Delete">Eliminar</string>
    <string name="SaveGameConfirmation">¿Quiere sobrescribir el archivo seleccionado?</string>
    <string name="DeleteGameConfirmation">¿Quiere eliminar el archivo seleccionado?</string>
    <string name="LoadGameConfirmation">¿Quiere cargar el archivo seleccionado?</string>
    <string name="RestorePurchases">Restaurar compras</string>
    <string name="EnableAutoSave">Guarda automáticamente la partida en la nube</string>
    <string name="GameLoadingText">Cargando...</string>
    <string name="GameSavingText">Guardando la partida...</string>
    <string name="AutoSave">Guardar automáticamente</string>
    <string name="ControlsJoystick">Joystick</string>
    <string name="ControlsThrust">Avanzar</string>
    <string name="ControlsLeft">Girar a la izquierda</string>
    <string name="ControlsRight">Girar a la derecha</string>
    <string name="ControlsAction0">Arma 1</string>
    <string name="ControlsAction1">Arma 2</string>
    <string name="ControlsAction2">Arma 3</string>
    <string name="ControlsAction3">Arma 4</string>
    <string name="ControlsAction4">Arma 5</string>
    <string name="ControlsAction5">Arma 6</string>
    <string name="ControlEnabled">Activado</string>
    <string name="LoadPreset">Cargar preajuste:</string>
    <string name="Test">Probar</string>
    <string name="SlideToMove">Mover la nave deslizando el dedo por la pantalla</string>
    <string name="UseJoystickForThrust">Controlar el motor con un joystick</string>
    <string name="StopWhenShooting">Apagar el motor al disparar</string>
    <string name="AutoLaunchDrones">Lanzar drones automáticamente</string>
    <string name="FloatingJoystick">Joystick flotante</string>
    <string name="FixedZoom">Fijar vista en el jugador</string>
    <string name="GraphicsQuality">Calidad de gráficos</string>
    <string name="SignIn">Iniciar sesión</string>
    <string name="SignOut">Cerrar sesión</string>
    <string name="Achievements">Logros</string>
    <string name="Difficulty">Nivel de dificultad</string>
    <string name="GameDifficultyInfo">La dificultad más alta hace que los enemigos sean más fuertes, pero también da más recompensas. No se puede cambiar la dificultad sin empezar una nueva partida.</string>
    <string name="CombatDifficultyInfo">A mayor nivel de dificultad, más fuertes serán los enemigos.</string>
    <string name="Easy">Fácil</string>
    <string name="Normal">Difícil</string>
    <string name="NoMods">Juego original</string>
    <string name="AvailableMods">Modificaciones disponibles:</string>
    <string name="LoadModConfirmation">¿Quieres continuar? Cada modificación tiene su propia partida guardada.</string>
    <string name="FullScreenMode">Modo pantalla completa</string>
    <string name="KeyTurnLeft">Girar a la izquierda</string>
    <string name="KeyTurnRight">Girar a la derecha</string>
    <string name="KeyForward">Avanzar</string>
    <string name="KeyAction1">Acción 1</string>
    <string name="KeyAction2">Acción 2</string>
    <string name="KeyAction3">Acción 3</string>
    <string name="KeyAction4">Acción 4</string>
    <string name="KeyAction5">Acción 5</string>
    <string name="KeyAction6">Acción 6</string>
    <string name="ConfigureKeys">Configurar controles</string>
    <string name="ControlsTooltipHeader">Usar estas teclas para controlar la nave:</string>
    <string name="KeySpace">Espacio</string>
    <string name="ControlsMouse">Usar el ratón</string>
    <string name="MenuReloadDatabase">Recargar base de datos</string>
</resources>
